:root {
  --dark-900: #000000;
  --dark-800: #333333;
  --dark-700: #404040;

  --silver-600: #9c9c9c;
  --silver-100: #f6f6f6;

  --white: #ffffff;

  --main-color: #276ef1;
  --accent-color: #e54937;

  --font-family: 'Roboto', Arial, sans-serif;
  --font-size: 14px;
  --line-height: 1.5;
}
